.product {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 34px 32px 41px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &:first-child {
    .product__box {
      .product-discount {
        right: -50px;
        left: auto;
        top: -30px;
      }
    }
  }

  &__title {
    margin-bottom: 17px;
  }

  &__subtitle {
    font: 700 20px/24px $font;
    margin-bottom: 35px;
  }

  &__box {
    margin-bottom: 25px;
  }

  &__descr {
    margin-bottom: 25px;
  }

  &-discount {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/dest/discount-bg.png');
    @extend %bg-cover;
    left: -60px;
    top: 15px;

    &__text {
      font: 400 30px/35px $font;
      color: $white;
    }
  }

  &-link {
    max-width: 280px;
    margin: 0 auto 25px;
    display: block;
    border-radius: 5px;
    background-color: $accent;
    color: $white;
    padding: 16px 0;
    transition: all .3s;

    &:hover {
      background-color: #15294d;
    }
  }

}

.price {
  max-width: 420px;
  margin: 0 auto 25px;

  &__new {
    background: linear-gradient(180deg, #6CABEB 0%, #203F73 100%);
    height: 80px;

    &-count {
      color: $white;
      font: 900 50px/60px $font;

      .price__val {
        font: 900 35px/40px $font;
      }
    }
  }

  &__old {
    background-color: $accent;
    height: 80px;

    &-count {
      font: 400 40px/45px $font;
      text-decoration: line-through;
      color: $white;
    }
  }
}

@media (max-width: 420px) {
  .product {
    padding: 34px 10px 41px;
  }

  .product:last-child .product__box .product-discount {
    left: -10px;
  }
}

@media (max-width: 320px) {
  .product:first-child .product__box .product-discount {
    right: -10px;
  }
}