.swiper {
  padding: 30px 15px;
  margin-bottom: 20px;
}

.slide {
  padding: 36px 15px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  height: max-content;
  height: auto;
  transition: all .3s;
  &-top {
    display: flex;
    margin-bottom: 15px;
  }

  &-avatar {
    width: 67px;
    flex-shrink: 0;
    margin-right: 20px;
  }
}

.slide-info {
  &__title {
    font: 700 18px/21px $font;
    margin-bottom: 5px;
  }

  &__date {
    font: 400 14px/16px $font;
    color: #c0c0c0;
    margin-bottom: 10px;
  }

  &__stars {
    width: 114px;

    &-img {
      display: block;
    }
  }
}

.slide.swiper-slide-active {
  transition: all .3s;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 1);

}

.slider-navig {
  max-width: 220px;
  justify-content: space-between;
}

.swiper-btn-prev,
.swiper-btn-next {
  width: 46px;
  height: 46px;
  @extend %bg-cover;
  flex-shrink: 0;
  cursor: pointer;
}
.swiper-btn-next{
  background-image: url('../images/dest/next-arrow.png');
}
.swiper-btn-prev{
  background-image: url('../images/dest/prev-arrow.png');
}
.swiper-pagination-fraction{
  bottom: auto;
  top: auto;
  pointer-events: none;
}

@media (max-width: 480px) {
  .slide.swiper-slide-active {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  
  }
}